@{
    ViewBag.Title = "Contact:";
}
<h2>@ViewBag.Title.</h2>
<h5>@ViewBag.Message1</h5>
<h5>@ViewBag.Message2</h5>
<h5>@ViewBag.Message3</h5>
<h5>@ViewBag.Message4</h5>
<h5>@ViewBag.Message5</h5>

<address>
    De Montfort University<br />
    Leicester<br />
    <abbr title="Phone"></abbr>
    +12345678900
</address>

