@model List<WebFootBallClub.Models.TeamsView>
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/realsite.css" rel="stylesheet" />
    <link href="~/Content/PFGeneral.css" rel="stylesheet" />
</head>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent" aria-controls="navbarSupportedContent" ariaexpanded="false" aria-label="Toggle navigation"></button>
        @Html.ActionLink("WebFootballApp", "Index", "Home", new { area = "" }, new
       { @class = "navbar-brand" })
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null,
    new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", null,
    new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home",
        null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main">
    <div class="container">
        <h1>Quick preview of Premier League</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                   
                    <th scope="col">Club Name</th>
                    
                    <th scope="col">MP</th>
                    <th scope="col">W</th>
                    <th scope="col">D</th>
                    <th scope="col">L</th>
                    <th scope="col">GF</th>
                    <th scope="col">GA</th>
                    <th scope="col">GD</th>
                    <th scope="col">PTS</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                <tr>
                    <th scope="row">@item.ID<img height="30" width="30" src="~/Image/@(item.ID+ ".PNG")" /></th>                   
                    <td>@item.Name</td>
                    
                    <td>@item.MP</td>
                    <td>@item.Win</td>
                    <td>@item.Draw</td>
                    <td>@item.Lose</td>
                    <td>@item.GF</td>
                    <td>@item.GA</td>
                    <td>@item.GD</td>
                    <td>@item.Pts</td>
                </tr>
                    }
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-4">
                <h2>Premier League</h2>
                <p>
                    Click the link below to see more Premier League data
                </p>
                <p><a class="btn btn-default" href="https://www.bbc.com/sport/football/premier-league/table">View &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Watch games</h2>
                <p>Watch match videos and latest news here</p>
                <p><a class="btn btn-default" href="https://www.bbc.com/sport/football/premier-league">View &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Most popular players</h2>
                <p>See more player tables favorite player here</p>
                <p><a class="btn btn-default" href="https://www.bbc.com/sport/football/premier-league/top-scorers">View &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

