@model List<WebFootBallClub.Models.TeamsView>
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/realsite.css" rel="stylesheet" />
    <link href="~/Content/PFGeneral.css" rel="stylesheet" />
</head>
<body>
   
</body>
<div class="jumbotron">
    <table>
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Club Name</th>
                <th scope="col">MP</th>
                <th scope="col">W</th>
                <th scope="col">D</th>
                <th scope="col">L</th>
                <th scope="col">GF</th>
                <th scope="col">GA</th>
                <th scope="col">GD</th>
                <th scope="col">PTS</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.ID</th>
                        <td>@item.Name</td>
                        <td>@item.Win</td>
                        <td>@item.Draw</td>
                        <td>@item.Lose</td>
                        <td>@item.GF</td>
                        <td>@item.GA</td>
                        <td>@item.GD</td>
                        <td>@item.Pts</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>